*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --ff: "Poppins", serif;

    --clr-font: #fff;
    --clr-font-light: #4B505A;
    --clr-font-dark: #161A49;

    --clr-primary: #6FBF44;
    --clr-secondary: #4CB538;

    --clr-main-primary: #ee7646;
}

body{
    font-family: var(--ff);
}
header{
    margin-left: 100px;
}

ul{
    font-size: 15px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none; 
    cursor: pointer;
}


li{
    color: var(--clr-font-dark);
    font-weight: 400;
    margin-top: 20px;
    margin-left: 30px;
}

li:hover{
    border-bottom: 2px solid var(--clr-primary);
}

button {
    cursor: pointer;

}

ul > button{
    margin-left: 30px;
    margin-top: 12px;
    width: 120px;
    height: 40px;

    font-size: 15px;
    font-weight: 500;
    background: var(--clr-primary);
    color: var(--clr-font);

    border: 1px solid var(--clr-secondary);
    border-radius: 6px;
    transition: all 0.4s ease-in-out;
}

ul > button:hover{
    border: 3px solid var(--clr-secondary);
    transform: scale(1.3);
}

ul > button:active{
    opacity: 80%;
    transform: scale(1.2);
}

a{
    font-size: 15px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

a:link{
    color: var(--clr-main-primary);
    text-decoration: none;
}

a:visited{
    color: var(--clr-main-primary);
}

a:hover{
    transform: scale(1.2);
    color: var(--clr-main-primary);
}

section{
    display: flex;
    justify-content: center;
}

.section{
    width: 80vw;
    display: flex;
    align-content: flex-start;
    margin-top: 150px;
}

.section-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 30px;
}

img{
    height: 500px;
    width: 570px;
}

h1{
    color: var(--clr-font-dark);
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    width: 500px;
}

p{
    color: var(--clr-font-light);
    font-size: 18px;
    line-height: 35px;
    width: 50%;
}

div > button{
    color: var(--clr-primary);
    border: none;
    background-color: transparent;

    font-family: 18px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

div > button:hover{
    transform: scale(1.3);
}

div > button:active{
    opacity: 80%;
    transform: scale(1.2);
}

/*SCREEN < 1024px*/

@media (max-width: 1160px){
    p{
        width: 300px;
    }

    img{
        width: 420px;
    }
}


/*SCREEN < 900px*/

@media (max-width: 800px){
    li{
        display: none;
    }

    ul{
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    a{
        margin-left: 0;
    }

    button{
       margin-right: 30px;
        width: 120px;
    }

    .section{
        flex-direction: column-reverse;
        align-items: center;
        margin: 5%;
    }

    .section-2{
        align-items: center;
        
    }

    h1{
        font-size: 40px;
        text-align: center;
        line-height: 40px;
        margin: 20px 0;
        width: 350px;
    }

    p{
        font-size: 18px;
        text-align:center;
        line-height: 30px;
        height: 170px;
        width: 300px;
    }

    button{
        margin: 20px 0;
        font-size: 18px;
    }

    img{
        height: 300px;
        width: 300px;
    }
}